{% extends "layout.html" %}
{% block name %}index.html{% endblock %}
{% block content %}

<div class="col-lg-5 offset-lg-2 my-4">

  {% for picture in pictures %}
    <div class="card mt-4">
      <a href="/pictures/{{ picture['id'] }}"><img class="card-img-top img-fluid" src="/{{ config['UPLOAD_FOLDER'] }}/{{ picture['id'] }}-{{ picture['path'] }}" alt=""></a>
      <div class="card-body">
        <h3 class="card-title"><a class='text-dark' href="/pictures/{{ picture['id'] }}">{{ picture['title'] }}</a></h3>
        <h4><span class="badge badge-primary">{{ picture['cat_name'] }}</span></h4>
        <p class="card-text">{{ picture['comment']|safe }}</p>
        <div class='d-flex justify-content-between'>
          <div>
            {% if picture['vote'] %}
              <span class="text-warning">
                {% for _ in range(picture['vote']|int) %}
                &#9733;
                {% endfor %}
                {% for _ in range(5 - picture['vote']|int) %}
                &#9734;
                {% endfor %}
              </span>
              {{ picture['vote'] }} stars
              <span class='d-none small font-italic' data-vote>({{ picture['total_vote'] }} votes)</span>
            {% endif %}
          </div>
          <form class='d-inline-block' action="/pictures/{{ picture['id'] }}/votes" method="POST">
            <select name="value">
              <option value=0>0</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option selected value=5>5</option>
            </select>
            <input type="submit" name="" value="Vote !" class='btn btn-sm btn-success'>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}


