main{
    font-family: GeoEditBold,sans-serif;
}

.container{
  padding: 5% 10%;  
  display: flex;
  flex-wrap: wrap; 
  max-width: 1070px !important;
  
}
.picture_affichage {
  margin: 2%;
}

.img_marges {
  margin: 2%;
}

.img_homepage{
  margin: 3%;
}

.listCategory{
   list-style: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10%;
    padding-top: 12px;
}
.listCategory>li>a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.listCategory>li>a:hover{
    padding-bottom: 10px;
    border-bottom: 4px solid #ffcd38;  
    color: rgba(0, 0, 0, 0.452); 
    
}

.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-rows: repeat(5, 100px);
    
  }
  .one {
    grid-column: 1 / 2;
    grid-row: 1/4;
    background-color: #ffcd38;
  }
  .two {
    grid-column: 2/ 3;
    grid-row: 1/ 3;
    background-color: #ffcd38;
  }
  .three {
    grid-column: 3/4;
    grid-row: 1/ 4;
    background-color: #ffcd38;
  }
  .four {
    grid-column: 1;
    grid-row: 4/6;
    background-color: #ffcd38;
  }
  .five {
    grid-column: 2;
    grid-row: 3/6;
    background-color: #ffcd38;
  }
  .six {
    grid-column: 3;
    grid-row: 4/6;
    background-color: #ffcd38;
  }

/* ------------ small and meduim screen--------------*/
@media screen and (min-width: 750px) {
    main>nav{
        width: 60%;
        margin: auto;
    }
}